@import "tailwindcss";

@theme {
  --color-gv-gold: #C5A059;
  --color-gv-gold-hover: #D4AF6A;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
  font-family: 'Inter', system-ui, sans-serif;
}
